
<div class="row justify-content-center">
  <div class="col-4">
    <br>
    <h1>  Create a new account  </h1>
        <%= form_for @user,html: { multipart: true } do |f| %>
          <%= f.file_field :avatar, as: :file %>
          <div class="layout">
            <%= f.text_field :firstname, placeholder: "First Name", class: "form-control"%>
          </div>
          <div class="layout">
            <%= f.text_field :lastname, placeholder: "Last Name", class: "form-control"%>
          </div>
          <div class="layout">
            <%= f.text_field :current_city, placeholder: "Current City", class: "form-control" %>
          </div>
          <div class="layout">
            <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
          </div>
          <div class="layout">
            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
          </div>
          <br>
          <div class="center">
          <%= f.submit "Signup", :class => 'btn btn-primary' %>
          </div>
        <% end %>
  </div>
</div>
