
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <br>
    <h4>  SignUp Form  </h4>
        <%= form_for @user do |f| %>
          <div class="layout">
            <%= f.text_field :firstname, placeholder: "First Name", class: "form-control" %>
          </div>
          <div class="layout">
            <%= f.text_field :lastname, placeholder: "Last Name", class: "form-control" %>
          </div>
          <div class="layout">
            <%= f.text_field :current_city, placeholder: "Current City", class: "form-control" %>
          </div>
          <div class="layout">
            <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
          </div>
          <div class="layout">
            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
          </div>
          <br>
          <div class="center">
          <%= f.submit "Sign Up", :class => 'btn btn-primary' %>
          </div>
        <% end %>
  </div>
  <div class="col-md-4">
  </div>
</div>
