
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-4">
          <div class="profile_info">
              <div class="profile_header"> <h1 class="title"> User Profile </h1> </div>
              <br>
              <div class="round-image-100"><%= image_tag(@user.avatar.url(:medium)) %></div>
              <h1><%= @user.firstname %> <%= @user.lastname %> <br></h1>
              <br>
              <span class="glyphicon glyphicon-time"></span> Joined on <%= @user.created_at.strftime("%B") %> <%= @user.created_at.year %><br>
              <span class="glyphicon glyphicon-home"></span>  Lives in <%= @user.current_city %>
          </div>
          <br>
          <div>
            <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
            <%= link_to "Delete Profile", @user, class: "btn btn-primary",method: :delete, data: { confirm: 'Are you sure you want to delete this profile?' }%>
          </div>
          <hr>
      </div>
      <div class="col-md-8">
        <div class="profile_info">
          <div class="profile_header"> <h1 class="title"> Posts made by this user </h1> </div>
          <br>
          <ul id="poststitle">
            <% if(@user.posts.count===0) %>
              <div>
                <h1> No posts yet. </h1>
              </div>
            <% end %>

            <% @user.posts.each do |post| %>
              <li>
                <div class="row review">
                <div class="col-sm-11">
                  <h1><%= post.city.name %> - <%= link_to post.title , user_post_path(@user,post)%></h1>
                  <p><%= post.content %> - <%= time_ago_in_words(post.created_at) %> ago</p> </p>
                </div>
                <div class="col-sm-1 float-right">
                  <%= link_to '', edit_user_post_path(@user,post), class: "btn btn-info btn-md glyphicon glyphicon-pencil", params: {'post[id]'=>current_user.id}%>
                  <%= link_to '', [@user,post],
                                method: :delete,
                                class: "btn btn-info btn-md glyphicon glyphicon-trash",
                                data: { confirm: 'Are you sure you want to delete ?' },
                                params: {'post[id]'=>current_user.id} %>

                </div>
                </div>
                <br>
              </li>
            <% end %>
          </ul>
       </div>
      </div>
  </div>
</div>
