
<div class="container">
  <div class="row justify-content-center">
    <div>
      <h1><%= @city.name %></h1>
    </div>
    <div class="center">
      <%= link_to "New Post", city_post_path(@city), class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row justify-content-center">
      <img src="<%= @city.image_url %>">
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10">
        <br>
        <ul id="poststitle">
          <% @city.newest_posts.each do |post| %>
            <li>
                <div>
                  <div class="col-md-2">
                      <%= image_tag(post.user.avatar.url(:thumb),size: "100x100") %>
                  </div>
                  <div class="col-md-10 divpad">
                    <h1><%= link_to post.title, user_post_path(post.user,post) %></h1>
                    <p><%= post.content%></p>
                    <!-- <%= link_to truncate(post.content, :length => 100, :omission => '...... (view more)'),user_post_path(post.user,post), class: "content" %> -->
                    -<%= time_ago_in_words(post.created_at) %> ago.
                  </div>
                </div>
            </li>
            <br>
          <% end %>
        </ul>
    </div>
  </div>
</div>
