<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <header class="navbar navbar-fixed-top navbar-inverse">
       <div class="container">
         <h2>
         <%= link_to "Travagram", '#', id: "logo" %>
         </h2>
         <nav>
           <ul class="nav navbar-nav navbar-right">
            <h4> <li><%= link_to "SignUp",   '/users/new' %></li> </h4>
            <h4> <li><%= link_to "Log in", '/login' %></li> </h4>
           </ul>
         </nav>
       </div>
 </header>
 <div class="container">
   <%= yield %>
 </div>
 </body>
</html>
