<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <header class="navbar navbar-fixed-top navbar-inverse">
       <div class="container">
         <h1>
           <%= link_to "Travagram", '/', id: "logo" %>
         </h1>
         <h1>
           <%= link_to "Cities", '/cities' %>
         </h1>
         <nav>
           <div class="nav navbar-nav navbar-right">
             <% if current_user %>
             <h3>
                 <%= link_to "Profile", user_path(current_user) %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <%= link_to "Log Out", '/logout' %>
            </h3>
             <% else %>
              <h3>
                   <%= link_to "Signup",   '/users/new' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <%= link_to "Login", '/login' %>
              </h3>
            <% end %>
          </div>
         </nav>
       </div>
 </header>
 <div class="container">
   <% flash.each do |name, msg| %>
   <div class="alert <% if name=="error" %> alert-danger <% else %> alert-danger <% end %>">
      <%= msg %>
   </div>
   <% end %>
   <%= yield %>
 </div>
 </body>

</html>
