<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <header class="navbar navbar-fixed-top navbar-inverse">
       <div class="container">
         <h1>
           <%= link_to "Travagram", '/', id: "logo" %>
         </h1>
         <nav>
           <ul class="nav navbar-nav navbar-right">
             <% if current_user %>
               <h4><li><%= link_to "Profile", user_path(current_user) %></li></h4>
               <h4><li><%= link_to "Log Out", '/logout' %></li></h4>
             <% else %>
              <h4> <li><%= link_to "SignUp",   '/users/new' %></li> </h4>
              <h4> <li><%= link_to "Log in", '/login' %></li> </h4>
            <% end %>
           </ul>
         </nav>
       </div>
       <% flash.each do |name, msg| %>
          <p>
            <small> <%= name.capitalize %>: <%= msg %> </small>
          </p>
       <% end %>
 </header>
 <div class="container">
   <%= yield %>
 </div>
 </body>
</html>
