<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <header class="navbar navbar-fixed-top navbar-inverse">
       <div class="container">
         <h1>
           <%= link_to "Travagram", '/', id: "logo" %>
         </h1>
         <nav>
           <ul class="nav navbar-nav navbar-right">
             <% if current_user %>
             <h3><li><%= link_to "Profile", user_path(current_user) %></li></h3>
             <h3><li><%= link_to "Log Out", '/logout' %></li></h3>
             <% else %>
              <h3> <li><%= link_to "Signup",   '/users/new' %></li> </h3>
              <h3> <li><%= link_to "Login", '/login' %></li> </h3>
            <% end %>
           </ul>
         </nav>
       </div>
 </header>
 <div class="container">
   <% flash.each do |name, msg| %>
   <div class="alert <% if name=="error" %> alert-danger <% else %> alert-danger <% end %>">
      <%= msg %>
   </div>
   <% end %>
   <%= yield %>
 </div>
 </body>
</html>
